@font-face {
    font-family: "Kenzoestic";
    src: url("../fonts/Kenzoestic\ Black.ttf");
}

.container {
    min-height: 100vh;  
    padding-inline: 60px;
    padding-block: 55px 100px;
}


.breadcrumbs {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.8em;
    margin-bottom: 30px;
    font-size: 1.05rem;
}

.breadcrumbs span {
    color: rgb(44, 44, 44, 0.6);
}

.breadcrumbs span.selected {
    color: rgb(44, 44, 44);
}

.main-product {
    display: flex;
    gap: 40px;
    max-height: 600px;
    margin-bottom: 90px;
}

.main-product-images {
    flex: 0.8;
    display: flex;
    gap: 20px;
    margin-top: 35px;
}

.image-list {
    width: 25%; 
    display: flex; 
    flex-direction: column;
    gap: 20px; 
    
}

.image-list div {
    border-radius: 20px;
    flex: 1; 
    overflow: hidden; 
    border: 1px solid rgb(44, 44, 44, 0.05);
    cursor: pointer;
}

.image-list div.selected-image {
    border: 1px solid rgb(44, 44, 44, 0.7);
}

.image-list img {
    border-radius: 20px; 
    height: 100%; 
    width: 100%; 
    object-fit: cover;
}

.prev-image {
    flex: 1;
    border-radius: 20px; 
    border: 1px solid rgb(44, 44, 44, 0.05);
}

.prev-image img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-product-info {
    flex: 1;
    color: rgb(44, 44, 44);
}

.divider {
    border-top: 1px solid rgb(44, 44, 44, 0.1);
    width: 100%;
    margin-block: 2em;
}

.description p:nth-of-type(1) {
    font-family: "Kenzoestic";
    font-size: 3.7rem;
}

.description p:nth-of-type(2) {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.description p:nth-of-type(3) {
    font-size: 0.95rem;
}

.availability {
    margin-top: 1.7em;
}

.availability div {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-top: 15px;
    margin-left: 15px;
}

.availability p {
    color: rgb(44, 44, 44, 0.6);
}



.store {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.store div {
    display: flex;
    align-items: center;
}

.store div:nth-of-type(1) {
    gap: 1em;
}

.store div:nth-of-type(1) p {
    font-weight: 600;
}

.store div:nth-of-type(2) {
    gap: 0.5em;
    font-size: 0.9rem;
}

.product-store > div:nth-of-type(2) {
    display: grid;
    gap: 0.7em;
    font-size: 0.95rem;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 40px;
    column-gap: 20px;
}

.products {
    margin-inline: 50px;
}

.related-products {
    margin-bottom: 50px;
}

.products > p {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: rgb(44, 44, 44, 0.6);
}

.product-card p {
    margin-left: 17px;
}

.product-card p:nth-of-type(1) {
    margin-top: 10px;
    font-size: 0.95rem;
}

.product-card p:nth-of-type(2) {
    font-size: 1.2rem;
}

.product-card span {
    font-weight: 600;
}